.rating {
    display: inline-flex;
    width: 300px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;

}

.star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 50px;
    height: 50px;
    background-color: black;
    font-size: 100px;
    cursor: pointer;
    transition: 0.2s;
}

.star:hover,
.star:hover ~ .star {
    background-color: yellow;
}


.rating[data-total-value='1'] .star:nth-child(n+1),
.rating[data-total-value='2'] .star:nth-child(n+2),
.rating[data-total-value='3'] .star:nth-child(n+3),
.rating[data-total-value='4'] .star:nth-child(n+4),
.rating[data-total-value='5'] .star:nth-child(n+5) {
    background-color: yellow;
}
